.flex {
  display: flex;
  justify-content: space-around;
}

.authMain {
  width: 400px;
  margin: auto;
  text-align: center;
}

.authMain button {
  width: 100px;
  height: 25px;
  margin-top: 25px;
}

.authMain h3 {
    text-align: left;
}

.login {
  width: 400px;
  margin: auto;
  text-align: center;
}

.login button {
  margin-top: 20px;
}